/* Variables */
$color-main: #bdc3c7;
$font-main: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.7;
  font-family: $font-main;
  background-color: rgb(145, 141, 141);
  background-image: url(https://images.pexels.com/photos/13315197/pexels-photo-13315197.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
  background-repeat: no-repeat;
  background-position: 30%;
  object-fit: cover;
}

h1 {
  font-size: 38px;
}
section {
  margin: 100px 30%;
  padding: 50px;
  border: 1px solid $color-main;
  border-radius: 35px;
  opacity: 80%;
  background: $color-main;
}
